<!-- <div *ngif="if carts.length!=0" > -->
<div *ngIf="!carts.length">
  <h6 class="noProducts">Your cart is empty add some products</h6>
</div>
<div *ngFor="let cart of carts" class="cart">

  <div class="row mt-3">
    <div class="col-4">
      <img src="{{cart.products.image}}" class="image" style="width: 15rem;">

    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-8">
          <p class="card-text">
            {{cart.products.title}}
          </p>
          <p>${{ cart.products.price * cart.count}}</p>
          <p>quantity:{{ cart.count}}</p>
        </div>
        <div class="col-4" class="buttons">
          <button (click)='deleteItem(cart)' class="btn btn-danger">delete</button>
          <button (click)='updateQuantity(true,cart.products.id)' class="ml-1 btn btn-warning">+1</button>
          <button (click)='updateQuantity(false,cart.products.id)' class="ml-1 btn btn-danger"
            [disabled]="cart.count <= 1">-1</button>

        </div>

      </div>


    </div>

  </div>

  </div>

